In [1]:
import mysql
import mysql.connector
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (9.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
def create_connection():
    try:
        connection = mysql.connector.connect(
            host='localhost',
            user='root',
            password='#Nyabwari8099',)
        print("mysql connection created successfully!")
        return connection
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        return None

In [3]:
def execute_query(connection,query):
   cursor =connection.cursor()
   try:
        cursor.execute(query)
        connection.commit()
        print("query executed successfully!")
   except mysql.connector.Error as err:
        print(f"Error: {err}")
   finally:
        cursor.close()

In [4]:
def execute_query(connection,query):
   cursor =connection.cursor()
   try:
        cursor.execute(query)
        connection.commit()
        print("query executed successfully!")
   except mysql.connector.Error as err:
        print(f"Error: {err}")
   finally:
        cursor.close()

In [5]:
connection = create_connection()
execute_query(connection, "CREATE DATABASE IF NOT EXISTS edu_institute")
execute_query(connection, "USE edu_institute")
print("database created successfully!")

mysql connection created successfully!
query executed successfully!
query executed successfully!
database created successfully!

In [6]:
# Ensure the correct database is selected and connection is open
if connection is not None and connection.is_connected():
    execute_query(connection, "USE edu_institute")
    create_table_query = """
    CREATE TABLE IF NOT EXISTS STUDENTS (
        student_id INT PRIMARY KEY,
        name VARCHAR(50),
        age INT,
        gender CHAR(1),
        enrollment_date DATE,
        program VARCHAR(50)
    );
    """
    execute_query(connection, create_table_query)
else:
    print("No valid connection to MySQL.")

query executed successfully!
query executed successfully!

In [7]:
from datetime import date

# Ensure the correct database is selected
execute_query(connection, "USE edu_institute")

student_data = [
    (1, 'Jael', 20, 'F', date(2023, 11, 15), 'computer science'),
    (2, 'Samuel', 22, 'M', date(2023, 12, 20), 'data science'),
    (3, 'Anna', 21, 'F', date(2023, 11, 15), 'software engineering'),
    (4, 'Isaac', 22, 'M', date(2023, 12, 20), 'software engineering'),
    (5, 'Mark', 20, 'M', date(2023, 11, 20), 'computer science')
]
cursor = connection.cursor()
insert_query = "INSERT IGNORE INTO students(student_id, name, age, gender, enrollment_date, program) VALUES (%s, %s, %s, %s, %s, %s)"
cursor.executemany(insert_query, student_data)
connection.commit()
cursor.close()
print("data inserted successfully!")

query executed successfully!
data inserted successfully!

In [8]:
query = "SELECT * FROM students WHERE program = 'data science'"
cursor = connection.cursor()
cursor.execute(query)
results = cursor.fetchall()
for row in results:
	print(row)
cursor.close()

(2, 'Samuel', 22, 'M', datetime.date(2023, 12, 20), 'data science')

True

In [9]:
try:
	cursor.close()
except Exception:
	pass  # Ignore if cursor is already closed or not defined

query = 'SELECT COUNT(*) AS `Total students` FROM students'

cursor = connection.cursor()
cursor.execute(query)
result = cursor.fetchone()
print("Total students:", result[0])
cursor.close()

Total students: 5

True

In [10]:
cursor =connection.cursor()
cursor.close()

True

In [11]:
query = "SELECT *, CURRENT_DATE() AS `Today's Date` FROM students"
cur = connection.cursor()
cur.execute(query)
rows = cur.fetchall()
if rows:
	print("Today's Date:", rows[0][-1])
else:
	print("No data found.")
cur.close()

Today's Date: 2025-07-21

True

In [12]:
query = "SELECT UPPER(name), enrollment_date FROM students"
cursor = connection.cursor()
cursor.execute(query)
results = cursor.fetchall()
for row in results:
    print(row[0], row[1])
cursor.close()

JAEL 2023-11-15
SAMUEL 2023-12-20
ANNA 2023-11-15
ISAAC 2023-12-20
MARK 2023-11-20

True

In [13]:
# Get the number of students per program in descending order
query = "SELECT program, COUNT(*) AS `Number of students` FROM students GROUP BY program ORDER BY `Number of students` DESC"
cursor = connection.cursor()
cursor.execute(query)
results = cursor.fetchall()
for row in results:
    print(row)
cursor.close()

('computer science', 2)
('software engineering', 2)
('data science', 1)

True

In [14]:
query = "SELECT name,age FROM students WHERE age=(SELECT MIN(age)FROM STUDENTS)"
cursor = connection.cursor()
cursor.execute(query)
results = cursor.fetchall()
for row in results:
    print(row)
cursor.close()

('Jael', 20)
('Mark', 20)

True

In [15]:
connection.close()
print("connection closed successfully!")

connection closed successfully!